{% extends 'base/index.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block main %}
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div
      class="content-wrapper d-flex align-items-stretch auth auth-img-bg bg-white"
    >
      <div class="row flex-grow">
        <div
          class="col-lg-5 login-half-bg d-flex flex-row"
          style="background: url({% static 'base/img/Rectangle-67-2.png'%})"
        >
          >
          <div class="brand-logo img_logo">
            <a href="{% url 'home' %}">Logo </a>
            <h3>
              Design Inspire help<br />
              the creation process
            </h3>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="brand-header normal-none account-back">
            <div class="text-left dis-header">
              <a href="{{ login_url }}" class="back-icon"
                ><i class="icon-chevron-left"></i
              ></a>
            </div>
            <!-- <div class="float-right dis-header">
              <h4>
                Already a member?
                <span><a href="login.php">Sign up now</a></span>
              </h4>
            </div> -->
          </div>
          <div class="auth-form-transparent">
            <h2 class="text-center">Forgot your password?</h2>
            <p class="text-center">
              We’ll email you instructions to reset your password.
            </p>

            <form class="pt-3" method="POST" action="{% url 'account_reset_password' %}" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="id_{{field.name}}">{{field.label}}</label>
                        <div class="input-group">
                            <!-- <input type="text" class="form-control" id="" /> -->
                            {{ field|attr:"class:form-control" }}
                        </div>
                    </div>
              {% endfor %}

              <div class="my-3 login_or m-t-30">
                <input
                  class="btn btn-block btn-primary auth-form-btn"
                  type="submit" 
                  value="{% trans 'Reset My Password' %}"
                />
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}