{% extends 'base/index.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block main %}
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div
      class="content-wrapper d-flex align-items-stretch auth auth-img-bg bg-white"
    >
      <div class="row flex-grow">
        <div
          class="col-lg-5 login-half-bg d-flex flex-row"
          style="background: url({% static 'base/img/Rectangle-67-2.png' %})"
        >
          <div class="brand-logo img_logo">
            <a href="{% url 'home' %}">Logo </a>
            <h3>
              Design Inspire help<br />
              the creation process
            </h3>
          </div>
        </div>
        <div
          class="col-lg-7 d-flex align-items-center justify-content-center mobile-align-item"
        >
          <div class="auth-form-transparent">
            <h2 class="text-center">{% trans "Password Reset" %}</h2>
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
           
           
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}