{% extends 'base/index.html' %}
{% block header %}
    {% include 'base/header.html' %}
{% endblock header %}
{% load static %}
{% load widget_tweaks %}
{% block main %}
<section class="bg-f4f9ff">
  <div class="container-fluid p-0">
    <div class="shadow-section">
      <div class="row">
        <div class="col-sm-6 p-100">
          <div class="request-title">
            <h3>Request an app on screenshot</h3>
            <h5>Submit the following details</h5>
          </div>
          <img src="{% static 'base/img/rqst-img.png' %}" />
        </div>
        <div class="col-sm-6 bg-white p-100">
          <form  method="post" action="" novalidate>
            {% csrf_token %}
            {% for field in form %}
              {% if not field.name == 'promotion' %}
                <div class="form-request">
                  <div class="form-group">
                    <label for="id_{{field.name}}"> {{forloop.counter}}. {{ field.label }} {% if field.field.required %}<span>*</span>{% endif%}
                    </label>
                    <!-- <input class="form-control" id="" type="text" /> -->
                    {% if not field.name == 'description' %} 
                      {{ field|attr:"class:form-control" }}
                    {% else %}
                      {{ field|attr:"class:form-control"|attr:"rows:4" }}
                    {% endif %}
                  </div>
                  {% for error in field.errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                  </div>
              {% else %}
                <div class="form-group form-inline text-left">
                  <div class="form-check">
                    <label>
                      {{ field }}<span class="m-l-10"
                        >Can we send out newsletter and promotion detail to this email
                        id
                      </span>
                    </label>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            
            <div class="my-3 login_or">
              <input class="btn btn-block btn-primary auth-form-btn" type="submit" value="Submit"/>
              
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock footer %}