<footer id="footer">
    <div class="footer-content">
    <div class="container">
    <div class="row">
    <div class="col-lg-4">
    <div class="widget">
    <div class="widget-title">Screenshot Logo</div>
    <p class="mb-5">Check out the hand-picked collection of latest
    mobile design patternsfrom apps that reflect the
    best in design</p>
    </div>
    </div>
    <div class="col-lg-4">
        <div class="widget">
        <div class="widget-title">Quick Link</div>
    
    <div class="row">
    <div class="col-lg-6">
    <div class="widget">
    
    <ul class="list">
    <li><a href="#">About us</a></li>
    <li><a href="#">Our Guidelines</a></li>
    
    </ul>
    </div>
    </div>
    
    <div class="col-lg-6">
    <div class="widget">
    
    <ul class="list">
    <li><a href="#">Contact us
    </a></li>
    <li><a href="#">Request</a></li>
    
    </ul>
    </div>
    </div>
    
    
    </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="widget">
    <div class="widget-title">Donate</div>
    <p>Please support our page to give more
    valuable content.</p>
    <a type="button" class="btn btn-rounded" href="#"> 
     Donate now</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="copyright-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="conditions">
                    <ul>
                        <li><a href="">Terms of Service</a> </li>
                        <li><a href="">Cookie Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5">
    <div class="copyright-text text-right">&copy; 2020 Crafted by Screenshot Team.<a href="" target="_blank" rel=""> </a>
    </div>
     </div>
    </div>
    </div>
    </div>
    </footer>