{% load static %}
{% load account %}
<header id="header">
  <div class="header-inner">
    <div class="container">
      <div id="logo">
        <a href="{% url 'home' %}"
          ><span class="logo-default">Screenshot Logo</span
          ><span class="logo-dark">Screenshot Logo</span></a
        >
      </div>

      <div id="mainMenu-trigger">
        <a class="lines-button x"><span class="lines"></span></a>
      </div>
      {% if request.user.is_authenticated %}

      <div id="mainMenu">
        <div class="container">
          <nav>
            <ul>
              <li>
                <a
                  type="button"
                  class="btn btn-rounded register-now"
                  href="{% url 'request' %}"
                  >Request</a
                >
              </li>
              <li>
                <div class="p-dropdown m-l-15">
                  {% if request.user.profile.avatar %}
                  <a href="#"><img src="{{ user.profile.avatar.url }}" class="rounded-circle" style="height: 40px;"  /></a>
                  {% else %}
                  <a href="#"><img src="{% static 'base/img/profile.png'%}" /></a>
                  {% endif %}
                    <ul class="p-dropdown-content profile-down">
                    <li><a href="{% url 'myboards' %}">My Boards</a></li>
                    <li><a href="{% url 'settings' %}">Settings</a></li>
                    <li><a href="/accounts/logout/" class="logout-design">Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      {% else %}
      <div id="mainMenu">
        <div class="container">
          <nav>
            <ul>
              <li><a href="{% url 'account_login' %}">Sign In</a></li>
              <li>
                <a
                  type="button"
                  class="btn btn-rounded register-now"
                  href="{% url 'account_signup' %}"
                  >Register Now</a
                >
              </li>
            </ul>
          </nav>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
