<header id="header">
  <div class="header-inner">
    <div class="container">
      <div id="logo">
        <a href="index.php"
          ><span class="logo-default">Screenshot Logo</span
          ><span class="logo-dark">Screenshot Logo</span></a
        >
      </div>

      <div id="mainMenu-trigger">
        <a class="lines-button x"><span class="lines"></span></a>
      </div>

      <div id="mainMenu">
        <div class="container">
          <nav>
            <ul>
              <li><a href="login.php">Sign In</a></li>
              <li>
                <a
                  type="button"
                  class="btn btn-rounded register-now"
                  href="register.php"
                  >Register Now</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
