<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
<meta name="author" content="INSPIRO" />
<meta name="description" content="">
<link rel="icon" type="image/png" href="images/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Screenshot</title>

{% load static %}
<link href="{% static 'css/plugins.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>

<div class="body-inner">






<section class="p-0">
    <img src="img/banner1.jpg" style="width:100%;">
</section>


<section class="background-8be4af p-t-15  p-b-15">
<div class="container">
<div class="row">
<div class="col-sm-12">
<p>We spend more time to give a quality content & our pocket money for project expenses such as website & server hosting.<span><a class="bg-green" href="#"><i class="fas fa-coffee"></i> 
  Buy me a coffee</a></span> </p>
</div>

</div>
</div>
</section>

<section id="page-content" class="portfolio-design">
<div class="container-fluid">
<div class="portfolio_contents">
<nav class="grid-filter gf-outline" data-layout="#portfolio">
<ul>
<li class="active"><a href="#" data-category="*">All</a></li>
<li><a href="#" data-category=".ct-branding">Andriod</a></li>
<li><a href="#" data-category=".ct-photography">iOS</a></li>
<li><a href="#" data-category=".ct-marketing">Web Dashboard</a></li>
<li><a href="#" data-category=".ct-media">Google font website</a></li>
<li><a href="#" data-category=".ct-webdesign">Game Ui</a></li>
</ul>
</nav>
</div>
<div class="grid-active-title1 filter-conditions">
	<div class="filter-home">
		<img src="img/filter.png"><span>Filter</span>
	</div>
	<div id="mainMenu" class="tag-content">
<div class="container">
<nav>
	<ul>
	   <li class="dropdown mega-menu-item tag-design"><a href="#">Tags <i class="fas fa-chevron-down"></i></a>
<ul class="dropdown-menu tag-menu">
<li class="mega-menu-content tag-magamenu">
<div class="row">
<div class="col-lg-4">
<ul>
<li><a href="">Advertising</a></li>
<li><a href="">Agency</a></li>
<li><a href="">Animals</a></li>
</ul>
</div>
<div class="col-lg-4">
<ul>
<li><a href="">Advertising</a></li>
<li><a href="">Agency</a></li>
<li><a href="">Animals</a></li>

</ul>
</div>
<div class="col-lg-4">
<ul>
<li><a href="">Advertising</a></li>
<li><a href="">Agency</a></li>
<li><a href="">Animals</a></li>

</ul>
</div>

</div>
</li>
</ul>
</li>
	</ul>

</div>
</nav>
</div>
	<form class="widget-subscribe-form" novalidate="" action="" role="form" method="post">


<div class="input-group">
<input type="text" required="" name="widget-subscribe-form-email" class="form-control required search" placeholder="search">

 </div>
</form>
</div>


<div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="20">

<div class="portfolio-item img-zoom  ct-photography ct-media ct-branding ct-Media ct-webdesign">
<a href="project-detail1.php"><div class="portfolio-item-wrap">
<div class="portfolio-image">
<img src="img/product-logo.jpg
" alt="">
</div>

<div class="portfolio-contents">
    <div class="fst-content">
	<h2>Website</h2>
		
			<div class="portfolio-heart">
			<i class="fas fa-heart"></i>466
		</div>
</div>

	<div class="portfolio-detail sec-content">
	
		<p>Travel and share the Best moments
</p>
	<div class="portfolio-clock">
			<i class="far fa-clock"></i>APR 26
		</div>
	</div>

	</div>
</div></a>
</div>



<div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
<a href="project-detail.php"><div class="portfolio-item-wrap">
<div class="portfolio-image">
<img src="img/product-2.jpg" alt="">
</div>

<div class="portfolio-contents">
    <div class="fst-content">
	<h2>OLA</h2>
		
			<div class="portfolio-heart">
			<i class="fas fa-heart"></i>466
		</div>
</div>

	<div class="portfolio-detail sec-content">
	
		<p>Travel and share the Best moments
</p>
	<div class="portfolio-clock">
			<i class="far fa-clock"></i>APR 26
		</div>
	</div>

	</div>
</div></a>
</div>


<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
<a href="project-detail.php"><div class="portfolio-item-wrap">
<div class="portfolio-image">
<img src="img/product-1.jpg" alt="">
</div>

<div class="portfolio-contents">
    <div class="fst-content">
	<h2>OLA</h2>
		
			<div class="portfolio-heart">
			<i class="fas fa-heart"></i>466
		</div>
</div>

	<div class="portfolio-detail sec-content">
	
		<p>Travel and share the Best moments
</p>
	<div class="portfolio-clock">
			<i class="far fa-clock"></i>APR 26
		</div>
	</div>

	</div>
</div></a>
</div>





<div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
<a href="project-detail.php"><div class="portfolio-item-wrap">
<div class="portfolio-image">
<img src="img/product-4.jpg" alt="">
</div>

<div class="portfolio-contents">
    <div class="fst-content">
	<h2>OLA</h2>
		
			<div class="portfolio-heart">
			<i class="fas fa-heart"></i>466
		</div>
</div>

	<div class="portfolio-detail sec-content">
	
		<p>Travel and share the Best moments
</p>
	<div class="portfolio-clock">
			<i class="far fa-clock"></i>APR 26
		</div>
	</div>

	</div>
</div></a>
</div>


<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
<a href="project-detail.php"><div class="portfolio-item-wrap">
<div class="portfolio-image">
<img src="img/product-5.jpg" alt="">
</div>

<div class="portfolio-contents">
    <div class="fst-content">
	<h2>OLA</h2>
		
			<div class="portfolio-heart">
			<i class="fas fa-heart"></i>466
		</div>
</div>

	<div class="portfolio-detail sec-content">
	
		<p>Travel and share the Best moments
</p>
	<div class="portfolio-clock">
			<i class="far fa-clock"></i>APR 26
		</div>
	</div>

	</div>
</div></a>
</div>


<div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media ct-marketing ct-webdesign">
<a href="project-detail.php"><div class="portfolio-item-wrap">
<div class="portfolio-image">
<img src="img/product-6.jpg" alt="">
</div>

<div class="portfolio-contents">
    <div class="fst-content">
	<h2>OLA</h2>
		
			<div class="portfolio-heart">
			<i class="fas fa-heart"></i>466
		</div>
</div>

	<div class="portfolio-detail sec-content">
	
		<p>Travel and share the Best moments
</p>
	<div class="portfolio-clock">
			<i class="far fa-clock"></i>APR 26
		</div>
	</div>

	</div>
</div></a>
</div>


<div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
<a href="project-detail.php"><div class="portfolio-item-wrap">
<div class="portfolio-image">
<img src="img/product-7.jpg" alt="">
</div>

<div class="portfolio-contents">
    <div class="fst-content">
	<h2>OLA</h2>
		
			<div class="portfolio-heart">
			<i class="fas fa-heart"></i>466
		</div>
</div>

	<div class="portfolio-detail sec-content">
	
		<p>Travel and share the Best moments
</p>
	<div class="portfolio-clock">
			<i class="far fa-clock"></i>APR 26
		</div>
	</div>

	</div>
</div></a>
</div>


<div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
<a href="project-detail.php"><div class="portfolio-item-wrap">
<div class="portfolio-image">
<img src="img/product-1.jpg" alt="">
</div>

<div class="portfolio-contents">
    <div class="fst-content">
	<h2>OLA</h2>
		
			<div class="portfolio-heart">
			<i class="fas fa-heart"></i>466
		</div>
</div>

	<div class="portfolio-detail sec-content">
	
		<p>Travel and share the Best moments
</p>
	<div class="portfolio-clock">
			<i class="far fa-clock"></i>APR 26
		</div>
	</div>

	</div>
</div>
</div></a>

</div>
<div id="showMore">
<a href="#" class="btn btn-rounded btn-light">Load more
</a>
</div>
</div>
</section>
<section class="background-8be4af p-t-15  p-b-15">
<div class="container">
<div class="row">
<div class="col-sm-12">
<p>We spend more time to give a quality content & our pocket money for project expenses such as website & server hosting.<span><a class="bg-green" href="#"><i class="fas fa-coffee"></i> 
  Buy me a coffee</a></span> </p>
</div>

</div>
</div>
</section>


	
                   <aside class="sidebar filter-sidebar w3-animate-right">
                       <div class="sidebar-heading1">
			<h1 class="sidebar-heading">
				Filter
			</h1>
				<p class="close-icon" title="close"><i class="far fa-window-close"></i></p>
			</div>
		

			<ul class="filter ul-reset">
				<li class="filter-item">
					<section class="filter-item-inner">
						<h1 class="filter-item-inner-heading minus">
Filter by Platform
						</h1>
						<ul class="filter-attribute-list ul-reset">
							<div class="filter-attribute-list-inner">
								
								<li class="filter-attribute-item">
									<input type="checkbox" id="colour-attribute-2" class="filter-attribute-checkbox ib-m">
									<label for="colour-attribute-2" class="filter-attribute-label ib-m">
										Andriod
									</label>
								</li>
								
								
								<li class="filter-attribute-item">
									<input type="checkbox" id="colour-attribute-5" class="filter-attribute-checkbox ib-m">
									<label for="colour-attribute-5" class="filter-attribute-label ib-m">
										IOS
									</label>
								</li>
								
								<li class="filter-attribute-item">
									<input type="checkbox" id="colour-attribute-15" class="filter-attribute-checkbox ib-m">
									<label for="colour-attribute-15" class="filter-attribute-label ib-m">
									Google font website
									</label>
								</li>
									<li class="filter-attribute-item">
									<input type="checkbox" id="colour-attribute-16" class="filter-attribute-checkbox ib-m">
									<label for="colour-attribute-16" class="filter-attribute-label ib-m">
								Web Dashboard
									</label>
								</li>
									<li class="filter-attribute-item">
									<input type="checkbox" id="colour-attribute-17" class="filter-attribute-checkbox ib-m">
									<label for="colour-attribute-17" class="filter-attribute-label ib-m">
								Game Ui
									</label>
								</li>
							</div>
						</ul>
					</section>
				</li>

				<li class="filter-item">
					<section class="filter-item-inner">
						<h1 class="filter-item-inner-heading minus">
						Filter by Categories

						</h1>
						<ul class="filter-attribute-list ul-reset">
							<div class="filter-attribute-list-inner">
							
								<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-3" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-3" class="filter-attribute-label ib-m">
									Business
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-4" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-4" class="filter-attribute-label ib-m">
									Education
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-5" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-5" class="filter-attribute-label ib-m">
									Entertainment
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-6" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-6" class="filter-attribute-label ib-m">
									Finance
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-7" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-7" class="filter-attribute-label ib-m">
								Food & Drink
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-8" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-8" class="filter-attribute-label ib-m">
								Health & Fitness
									</label>
								</li>
									<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-9" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-9" class="filter-attribute-label ib-m">
							Lifestyle
									</label>
								</li>
							</div>
						</ul>
					</section>
				</li>

				<li class="filter-item">
					<section class="filter-item-inner">
						<h1 class="filter-item-inner-heading minus">
						Filter by Patterns

						</h1>
						<ul class="filter-attribute-list ul-reset">
							<div class="filter-attribute-list-inner">
								
								<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-2" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-2" class="filter-attribute-label ib-m">
									Guided Tour
									</label>
								</li>
							
								
								<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-3" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-3" class="filter-attribute-label ib-m">
									Launch Screens
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-4" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-4" class="filter-attribute-label ib-m">
									Logins
									</label>
								</li>
							
								<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-9" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-11" class="filter-attribute-label ib-m">
							Setups
									</label>
								</li>
									<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-110" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-110" class="filter-attribute-label ib-m">
						Signups
									</label>
								</li>
									<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-111" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-111" class="filter-attribute-label ib-m">
						Walkthroughs
									</label>
								</li>
							</div>
						</ul>
					</section>
				</li>
				<li class="filter-item">
					<section class="filter-item-inner">
						<h1 class="filter-item-inner-heading minus">
					Filter by Elements

						</h1>
						<ul class="filter-attribute-list ul-reset">
							<div class="filter-attribute-list-inner">
								
								<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-112" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-112" class="filter-attribute-label ib-m">
								Nav Bars
									</label>
								</li>
							
								
								<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-113" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-113" class="filter-attribute-label ib-m">
								Tab Bars
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-114" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-114" class="filter-attribute-label ib-m">
								Tabs
									</label>
								</li>
							
							
									<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-115" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-115" class="filter-attribute-label ib-m">
					Toolbars
									</label>
								</li>
									<li class="filter-attribute-item">
									<input type="checkbox" id="material-attribute-116" class="filter-attribute-checkbox ib-m">
									<label for="material-attribute-116" class="filter-attribute-label ib-m">
					Search Bars
									</label>
								</li>
							</div>
						</ul>
					</section>
				</li>
			</ul>
		</aside>












<!-- <?php include 'footer.php'; ?> -->

</div>


		

		
	</div>
</footer>
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

<script src= "{% static 'js/jquery.js' %}"></script>
<script src= "{% static 'js/plugins.js' %}"></script>

<script src= "{% static 'js/functions.js' %}"></script>

<script type="text/javascript">
	/////// j

//// filter accordion
function accordion(section, heading, list) {
	$(section).each(function() {
		var that = this,
				listHeight = $(this).find(list).height();

		$(this).find(heading).click(function() {
			$(this).toggleClass("plus");
			$(that).find(list).toggle({
				"height": "0"
			}, 250);
		});
	});
};

accordion('.filter-item', '.filter-item-inner-heading', '.filter-attribute-list');
</script>
<script type="text/javascript">
		$(".filter-sidebar").hide();
	
		$(".filter-home").click(function(){
$(".filter-sidebar").toggle();
close-icon
			

		});
	</script>
	<script type="text/javascript">
	
	
		$(".close-icon").click(function(){
$(".filter-sidebar").hide();

			

		});
	</script>
	<script type="text/javascript">
		$(".tag-menu").hide();
	$(".tag-content").click(function(){

$(".tag-menu").toggle();
		});
	</script>
		<script type="text/javascript">
		$(".tag-menu").hide();
	$(".tag-design a").click(function(){

$(".tag-menu").toggle();
		});
	</script>
</body>

</html>


