{% extends 'base/index.html' %}
{% load static %}

{% block main %}
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div
      class="content-wrapper d-flex align-items-stretch auth auth-img-bg bg-white"
    >
      <div class="row flex-grow">
        <div
          class="col-lg-5 login-half-bg d-flex flex-row"
          style="background: url(img/Rectangle-67.png)"
        >
          <div class="brand-logo img_logo">
            <a href="index.php">Logo </a>
            <h3>
              Design Inspire help<br />
              the creation process
            </h3>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="brand-header normal-none account-back">
            <div class="text-left dis-header">
              <a href="login.php" class="back-icon"
                ><i class="icon-chevron-left"></i
              ></a>
            </div>
            <div class="float-right dis-header">
              <h4>
                Already a member?
                <span><a href="login.php">Sign in now</a></span>
              </h4>
            </div>
          </div>
          <div class="auth-form-transparent">
            <h2 class="text-center">Create Your Account</h2>

            <form class="pt-3">
              <div class="form-group">
                <label for="exampleInputName">Name</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="" />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail">Email Address</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="" />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" />
                </div>
              </div>

              <div class="form-group form-inline text-left">
                <div class="form-check">
                  <label>
                    <input type="checkbox" class="margin-minus" /><small
                      class="m-l-10"
                      >Creating an account means you’re okay with our
                      <a href="">Terms of Service</a> and
                      <a href="">Our Guidelines</a>
                    </small>
                  </label>
                </div>
              </div>
              <div class="my-3 login_or">
                <a class="btn btn-block btn-primary auth-form-btn" href=""
                  >Create Account
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}