{% extends 'base/index.html' %}
{% load static %}

{% block main %}
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div
      class="content-wrapper d-flex align-items-stretch auth auth-img-bg bg-white"
    >
      <div class="row flex-grow">
        <div
          class="col-lg-5 login-half-bg d-flex flex-row"
          style="background: url(img/Rectangle-67-2.png)"
        >
          <div class="brand-logo img_logo">
            <a href="index.php">Logo </a>
            <h3>
              Design Inspire help<br />
              the creation process
            </h3>
          </div>
        </div>
        <div
          class="col-lg-7 d-flex align-items-center justify-content-center mobile-align-item"
        >
          <div class="auth-form-transparent">
            <h2 class="text-center">Create Your New Password</h2>
            <p class="text-center">Create your strong password</p>

            <form class="pt-3">
              <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword">Re-Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" />
                </div>
              </div>

              <div class="my-3 login_or m-t-30">
                <a class="btn btn-block btn-primary auth-form-btn" href=""
                  >Submit</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}