<aside class="sidebar filter-sidebar w3-animate-right">
  <div class="sidebar-heading1">
    <h1 class="sidebar-heading">Filter</h1>
    <p class="close-icon" title="close"><i class="far fa-window-close"></i></p>
  </div>

  <ul class="filter ul-reset">
    <li class="filter-item">
      <section class="filter-item-inner">
        <h1 class="filter-item-inner-heading minus">Filter by Platform</h1>
        <ul class="filter-attribute-list ul-reset">
          <div class="filter-attribute-list-inner">
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="colour-attribute-2"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="colour-attribute-2"
                class="filter-attribute-label ib-m"
              >
                Andriod
              </label>
            </li>

            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="colour-attribute-5"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="colour-attribute-5"
                class="filter-attribute-label ib-m"
              >
                IOS
              </label>
            </li>

            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="colour-attribute-15"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="colour-attribute-15"
                class="filter-attribute-label ib-m"
              >
                Google font website
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="colour-attribute-16"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="colour-attribute-16"
                class="filter-attribute-label ib-m"
              >
                Web Dashboard
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="colour-attribute-17"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="colour-attribute-17"
                class="filter-attribute-label ib-m"
              >
                Game Ui
              </label>
            </li>
          </div>
        </ul>
      </section>
    </li>

    <li class="filter-item">
      <section class="filter-item-inner">
        <h1 class="filter-item-inner-heading minus">Filter by Categories</h1>
        <ul class="filter-attribute-list ul-reset">
          <div class="filter-attribute-list-inner">
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="size-attribute-3"
                class="filter-attribute-checkbox ib-m"
              />
              <label for="size-attribute-3" class="filter-attribute-label ib-m">
                Business
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="size-attribute-4"
                class="filter-attribute-checkbox ib-m"
              />
              <label for="size-attribute-4" class="filter-attribute-label ib-m">
                Education
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="size-attribute-5"
                class="filter-attribute-checkbox ib-m"
              />
              <label for="size-attribute-5" class="filter-attribute-label ib-m">
                Entertainment
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="size-attribute-6"
                class="filter-attribute-checkbox ib-m"
              />
              <label for="size-attribute-6" class="filter-attribute-label ib-m">
                Finance
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="size-attribute-7"
                class="filter-attribute-checkbox ib-m"
              />
              <label for="size-attribute-7" class="filter-attribute-label ib-m">
                Food & Drink
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="size-attribute-8"
                class="filter-attribute-checkbox ib-m"
              />
              <label for="size-attribute-8" class="filter-attribute-label ib-m">
                Health & Fitness
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="size-attribute-9"
                class="filter-attribute-checkbox ib-m"
              />
              <label for="size-attribute-9" class="filter-attribute-label ib-m">
                Lifestyle
              </label>
            </li>
          </div>
        </ul>
      </section>
    </li>

    <li class="filter-item">
      <section class="filter-item-inner">
        <h1 class="filter-item-inner-heading minus">Filter by Patterns</h1>
        <ul class="filter-attribute-list ul-reset">
          <div class="filter-attribute-list-inner">
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-2"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-2"
                class="filter-attribute-label ib-m"
              >
                Guided Tour
              </label>
            </li>

            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-3"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-3"
                class="filter-attribute-label ib-m"
              >
                Launch Screens
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-4"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-4"
                class="filter-attribute-label ib-m"
              >
                Logins
              </label>
            </li>

            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-9"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-11"
                class="filter-attribute-label ib-m"
              >
                Setups
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-110"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-110"
                class="filter-attribute-label ib-m"
              >
                Signups
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-111"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-111"
                class="filter-attribute-label ib-m"
              >
                Walkthroughs
              </label>
            </li>
          </div>
        </ul>
      </section>
    </li>
    <li class="filter-item">
      <section class="filter-item-inner">
        <h1 class="filter-item-inner-heading minus">Filter by Elements</h1>
        <ul class="filter-attribute-list ul-reset">
          <div class="filter-attribute-list-inner">
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-112"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-112"
                class="filter-attribute-label ib-m"
              >
                Nav Bars
              </label>
            </li>

            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-113"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-113"
                class="filter-attribute-label ib-m"
              >
                Tab Bars
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-114"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-114"
                class="filter-attribute-label ib-m"
              >
                Tabs
              </label>
            </li>

            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-115"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-115"
                class="filter-attribute-label ib-m"
              >
                Toolbars
              </label>
            </li>
            <li class="filter-attribute-item">
              <input
                type="checkbox"
                id="material-attribute-116"
                class="filter-attribute-checkbox ib-m"
              />
              <label
                for="material-attribute-116"
                class="filter-attribute-label ib-m"
              >
                Search Bars
              </label>
            </li>
          </div>
        </ul>
      </section>
    </li>
  </ul>
</aside>
