<aside class="sidebar filter-sidebar w3-animate-right">
  <div class="sidebar-heading1">
    <h1 class="sidebar-heading">Filter</h1>
    <p class="close-icon" title="close"><i class="far fa-window-close"></i></p>
  </div>

  <ul class="filter ul-reset">
    <li class="filter-item">
      <section class="filter-item-inner">
        <h1 class="filter-item-inner-heading minus">Filter by Platform</h1>
        <ul class="filter-attribute-list ul-reset">
          <div class="filter-attribute-list-inner">
            {% for platform in platforms %}
              <li class="filter-attribute-item">
                <input
                  type="checkbox"
                  id="id_{{platform.name}}"
                  onchange="handlePlatformChange(this)"
                  value = {{platform.id}}
                  class="filter-attribute-checkbox ib-m"
                />
                <label
                  for="id_{{platform.name}}"
                  class="filter-attribute-label ib-m"
                >
                  {{platform.name}}
                </label>
              </li>
            {% endfor %}
          </div>
        </ul>
      </section>
    </li>

    <li class="filter-item">
      <section class="filter-item-inner">
        <h1 class="filter-item-inner-heading minus">Filter by Categories</h1>
        <ul class="filter-attribute-list ul-reset">
          <div class="filter-attribute-list-inner">
            {% for category in categories %}
              <li class="filter-attribute-item">
                <input
                  type="checkbox"
                  id="id_{{category.name}}"
                  onchange="handleCategoryChange(this)"
                  value = {{category.id}}
                  class="filter-attribute-checkbox ib-m"
                />
                <label
                  for="id_{{category.name}}"
                  class="filter-attribute-label ib-m"
                >
                  {{category.name}}
                </label>
              </li>
            {% endfor %}
            
          </div>
        </ul>
      </section>
    </li>

    <li class="filter-item">
      <section class="filter-item-inner">
        <h1 class="filter-item-inner-heading minus">Filter by Patterns</h1>
        <ul class="filter-attribute-list ul-reset">
          <div class="filter-attribute-list-inner">
            {% for pattern in patterns %}
              <li class="filter-attribute-item">
                <input
                  type="checkbox"
                  id="id_{{pattern.name}}"
                  onchange="handlePatternsChange(this)"
                  value = {{pattern.id}}
                  class="filter-attribute-checkbox ib-m"
                />
                <label
                  for="id_{{pattern.name}}"
                  class="filter-attribute-label ib-m"
                >
                  {{pattern.name}}
                </label>
              </li>
            {% endfor %}
           
          </div>
        </ul>
      </section>
    </li>
    <li class="filter-item">
      <section class="filter-item-inner">
        <h1 class="filter-item-inner-heading minus">Filter by Elements</h1>
        <ul class="filter-attribute-list ul-reset">
          <div class="filter-attribute-list-inner">
            {% for element in elements %}
              <li class="filter-attribute-item">
                <input
                  type="checkbox"
                  id="id_{{element.name}}"
                  onchange="handleElementsChange(this)"
                  value = {{element.id}}
                  class="filter-attribute-checkbox ib-m"
                />
                <label
                  for="id_{{element.name}}"
                  class="filter-attribute-label ib-m"
                >
                  {{element.name}}
                </label>
              </li>
            {% endfor %}
            
          </div>
        </ul>
      </section>
    </li>
  </ul>
</aside>
