{% extends 'base/index.html' %} 

{% block header %} 
  {% include 'base/header.html'%} 
{% endblock header %} 

{% block main %}
<div class="setting-section bg-f5f6f8">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="setting-title title-display">
          <h2>My board</h2>
        </div>
        <div class="add-board">
          <h5>
            <a href="" data-target="#modal" data-toggle="modal">+ New Board</a>
          </h5>
        </div>
        <form
          class="widget-subscribe-form search-board"
          novalidate=""
          action=""
          role="form"
          method="post"
        >
          <div class="input-group">
            <input
              type="text"
              required=""
              name="widget-subscribe-form-email"
              class="form-control required search"
              placeholder="search"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="bg-f5f6f8 setting-form">
  <div class="container">
    <div class="row">
      {% for board in myboard %}
      <div class="col-sm-3">
        <a href="{% url 'myboards_detail' pk=board.id %}">
          <div class="board-list">
            <h4>{{board.name}}</h4>
          </div></a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h2 class="modal-title" id="modal-label">Create a Board</h2>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body p-b-0">
  <div class="row">
  <div class="col-md-12">
  <form>
    <div class="form-group">
      <label for="board-name">Name</label>
      <div class="input-group">
        <input type="text" class="form-control" id="board-name">
      </div>
    </div>
    <div class="modal-footer justify-center">
      <!-- <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
        --><button type="submit" class="btn btn-b radius-0 create-board">Create</button>
    </div>
  </form>
  </div>
  </div>
  </div>
  <!-- <div class="modal-footer justify-center">
   <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
   <button type="submit" class="btn btn-b radius-0 create-board">Create</button>
  </div> -->
  </div>
  </div>
  </div>

{% endblock main %}

{% block footer %} 
{% include 'base/footer.html' %} 
{% endblock footer %} 